# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
*.venv
pip-log.txt
pip-delete-this-directory.txt

# OS-specific files
.DS_Store
Thumbs.db

# Logs & Debug files
*.log
debug.log

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Dependencies
*.egg-info/
dist/
build/

# Web-related
node_modules/
*.css.map
*.js.map
